body {
  background-color: #EFEFEF;
  height: 100%
}

#exerciseColumn {
  background-color: #CAEBF2;
  display: inline-block;
  width: 24.9%;
  height: 100%;
}

#repsColumn {
  background-color: #A9A9A9;
  display: inline-block;
  width: 24.9%;
  height: 100%
}

#setsColumn {
  background-color: #FF3B3F;
  display: inline-block;
  width: 23.9%;
  height: 100%
}

#weightColumn {
  display: inline-block;
  width: 23.9%;
}

.noBulletList {
  list-style-type: none;
}