h1, h2, h3, h4, h5 {
    font-family:'Exo 2', sans-serif;

}

a {
	color: white;
}

#header {
	padding: 20px;
	margin-top: 30px;
}

.brand-logo {
	margin-left: 20px;
}

#nav-mobile {
	margin-right: 20px;
}