#volume {
    font-family:'Exo 2', sans-serif;
    text-align: center;
    margin-left: 120px;
    margin-right: 120px;
}

#strength {
    font-family:'Exo 2', sans-serif;
    text-align: center;
    margin-left: 120px;
    margin-right: 120px;
}